:root {
  --header-border-color: rgb(255, 255, 255);
  --header-color: rgb(255, 255, 255);
  --hover-table-color: var(--principal-color);
  --back-color: #f4f4f4;
  --text-color: rgb(14, 14, 14);
  --text-color-placeholder: rgba(14, 14, 14, 0.5);
  --error-text-color: red;
  --search-container-color: #dcdcdc;
  --search-bar-border-color: #aeadad;
  --input-color: rgb(230, 230, 230);
  --menu-itens-color: brightness(0%);
  --register-btn-collor: rgb(0, 199, 0);
  --register-btn-collor-hvr: rgb(0, 119, 0);
  --press-btn-collor: rgb(41, 17, 160);
  --press-btn-collor-hvr: rgb(26, 11, 98);
  --status-color-a: rgb(0, 157, 8);
  --status-color-i: rgb(201, 9, 9);
  --dialog-border-color: rgb(245, 245, 245);
  --dialog-border-color: #b1b1b1;
  --principal-color: linear-gradient(to left, #bdd9f75c, #004ab85b);
  --status-bk-color-a: rgba(0, 255, 0, 0.254);
  --status-bk-color-i: rgba(255, 0, 0, 0.254);
  --input-text-color: rgb(200, 200, 200);
  --error-text-color: rgb(255, 65, 65);
  --table-back-color: rgb(255, 255, 255);
  --button-color: #c6c4bb;
  --button-hover-color: #b5b5b5;
  --nav-gradient-color: linear-gradient(to left, white, rgb(222, 222, 222));
  --modal-invalid-outline-color: #ff6b6b;
  --exit-button-hover: rgb(152, 0, 0);
  --card-color-register: #0003aa;
  --card-color-last-month: #008a02;
  --card-color-pending: #c00003;
  --card-back-color: rgb(255, 255, 255);
  --tag-title-bg-color: rgba(128, 128, 128, 0.1);
  --toggle-theme-bg-color: #1c1439;
  --login-back-color: rgb(231, 231, 231);
  --login-logo-color: #515551;
  --login-back-container-color: white;
  --login-logo-color: #515551;
  --login-button-color: #53c257;
  --login-button-hover-color: #3f9145;
  --login-text-color: #ffffff;
  --linear-toggle-gradient: linear-gradient(white, rgb(197, 197, 197));
  --confirm-button-color: green;
  --delete-button-color: red;
  --delete-button-hover-color: rgb(147, 0, 0);
  --confirm-button-hover-color: rgb(167, 226, 167);
  --confirm-button-hover-color-register: rgb(5, 80, 5);
}
.dark-theme:root {
  --header-border-color: #444444;
  --header-color: #444444;
  --hover-table-color: var(--principal-color);
  --input-text-color: rgb(205, 205, 205);
  --input-color: #888888;
  --nav-user-back-color: #121212;
  --back-color: #1d1d1d;
  --text-color: #e0e0e0;
  --text-color-placeholder: #e0e0e0d0;
  --error-text-color: rgb(255, 90, 90);
  --search-container-color: #444444;
  --search-bar-border-color: #6b6875;
  --menu-itens-color: invert(100%);
  --status-color-a: rgb(0, 247, 12);
  --status-color-i: #ff8080;
  --status-bk-color-a: rgba(0, 255, 0, 0.254);
  --status-bk-color-i: rgba(255, 52, 52, 0.254);
  --register-btn-collor-hvr: rgb(13, 124, 13);
  --press-btn-collor: rgb(41, 41, 99);
  --press-btn-collor-hvr: rgb(26, 26, 63);
  --principal-color: linear-gradient(
    to left,
    #6f82a97d,
    rgba(32, 59, 75, 0.475)
  );
  --confirm-button-hover-color: rgba(27, 117, 27, 0.274);
  --calendar-icon-filter: invert(1) saturate(1000%);
  --button-text-color: white;
  --button-color: #888888;
  --button-hover-color: #b5b5b538;
  --nav-gradient-color: linear-gradient(to bottom, #121212, #131313);
  --modal-invalid-outline-color: #ff6b6b;
  --exit-button-hover: rgb(152, 0, 0);
  --card-back-color: #444444;
  --card-color-register: #9192b3;
  --card-color-last-month: #72a173;
  --card-color-pending: #885456;
  --toggle-theme-bg-color: #e0e0e0;
  --login-back-color: #121212;
  --login-back-container-color: #444444;
  --login-logo-color: #e0e0e0;
  --login-button-color: #8077a0;
  --login-button-hover-color: #8464f5;
  --login-text-color: white;
  --table-back-color: #444444;
  --linear-toggle-gradient: linear-gradient(#000000, #595959);
}
